# config/packages/security.yaml
security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider

            # ──────────────────────────────
            # C’EST ICI QUE TOUT SE JOUE
            # ──────────────────────────────
            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true
                # LA LIGNE MAGIQUE QUI ACTIVE TA REDIRECTION PERSONNALISÉE
                success_handler: App\Security\AuthenticationSuccessHandler

            logout:
                path: app_logout
                # Optionnel : tu peux réutiliser le même handler au logout si tu veux
                # success_handler: App\Security\AuthenticationSuccessHandler

    # Easy way to control access for large sections of your site
    access_control:
        - { path: ^/admin,   roles: ROLE_ADMIN }
        - { path: ^/serveur, roles: ROLE_SERVEUR }   # ou ROLE_SERVER selon ton nom
        - { path: ^/client,  roles: ROLE_CLIENT }
        - {path: ^/tables, roles: ROLE_ADMIN }
        - { path: ^/statistiques, roles: ROLE_ADMIN }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
